.middle {
    width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 20px 56px;
    margin: 0 auto;
    margin-top: 140px;
}
.login-box-body, .register-box-body {
    padding: 20px;
    border-top: 0;
    color: #666;
    background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid;
    border-radius: 2px;
    
}
.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    color: #fff;
}
.copyright {
    width: 100%;
    line-height: 1.2;
    color: #8c9597;
    margin-bottom: 0;
    font-size: 15px;
}
.bottom-copyright {
    color: #fff;
}
span.bottom-copyright {
    text-align: center;
    display: block;
    bottom: 15px;
    margin-bottom: 0px!important;
    position: absolute;
    left: 0;
    right: 0;
}
.login-logo img{
  width:130px;
  margin-top:-20px;
  }
  .login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}
.login-box {
    margin-left: 465px;
    position: absolute;
    top: 142px;
    float: center;
}

.btn.btn-primary.btn-block.btn-flat {
    margin-left: 200px;
    position: relative;
}